body {
    background: #ffffff !important;
    padding: 0px;
    margin: 0px;
}

svg {
    padding: 0px;
    margin: 0px;
}

#chart {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.dots {
    fill: #53535f;
}

.line {
    stroke: #22ffc5;
    stroke-width: 1;
    stroke-opacity: .75;
    fill: none;
}


.rangeslider {
    width: 50%;
}

.myslider {
    -webkit-appearance: none;
    background: #FCF3CF;
    width: 50%;
    height: 5%;
    opacity: 2;
}


.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E;
    width: 5%;
    height: 5%;
}

.myslider:hover {
    opacity: 1;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-gap: 20px;
}

#scope {
  }

#FFT {
    display: none;
  }

/* #ScopeChart {
}

#FFTChart {
  display: none;
} */